@use "../../../../variables.scss" as *;



// General Task container
.fatherTask_Container {
    border: solid 1px $black;
    min-height: 3vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // All text alingments
    span {
        flex: 1;
        text-align: center;
    }

    .subtask_Name {
        text-align: left;
    }

    .subtask_Status {
        text-align: right;
    }
}


// fatherTask Header  -----
.taskHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: -webkit-fill-available;
    padding: 2vh 1.5vw;
    background-color: $fatherTask-Header_Background;
    gap: 30px;

    span {
        flex: 1;
        text-align: center;
        font-weight: $taskTitle_weight;
        color: $black;
    }

    .fathertask_Name {
        text-align: left;
    }

    .fathertask_Progress {
        text-align: right;
    }
}


.taskHeader:hover {
    cursor: pointer;
}


.fatherTask_open {
    border-radius: 7px 7px 10px 10px;

    .taskHeader {
        border-radius: 7px 7px 0px 0px;
    }

}


.fatherTask_close {
    border-radius: 7px;

    .taskHeader {
        border-radius: 7px;
    }
}


// Container with subtasks -----
.subtask_Container {
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 10px 10px;
    background-color: $sonContainer_Background;
    box-sizing: border-box;
    border: solid 3px $sonContainer_Background;
    border-top: none;
    width: 100%;
    gap: 7px;
    padding-top: 8px;
    border-top: dashed 1px $black;


    div {
        display: flex;
        justify-content: space-between;
        border-radius: 10px 10px 10px 10px;
        background-color: $fatherTask-subTasks_Background;
        padding: 2vh 1.5vw;
        gap: 30px;
    }

    div:hover {
        cursor: pointer;
    }

    span {
        color: $black;
    }

}